[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pep517 = "*"
pytest = "*"

[requires]
python_version = "3.11"
