[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# core dependencies
flask = "*"
gunicorn = "*"
pydantic = "*"
python-dotenv = "*"
python-logging-loki = "*"
requests = "*"
# processor
celery = {extras = ["redis"], version = "*"}
# provider.Tailzone
python-digitalocean = "*"
tailscale = "*"
# service.TBot
python-telegram-bot = "*"
# util.graphics
pillow = "*"
# provider.Octopussy
influxdb = "*"
python-dateutil = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pep517 = "*"
pytest = "*"

[requires]
python_version = "3.11"
