[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# core dependencies
flask = "*"
gunicorn = "*"
pygelf = "*"
python-dotenv = "*"
# cron.tailzone
python-digitalocean = "*"
# util.graphics
pillow = "*"
# vnd.octopus
influxdb = "*"
python-dateutil = "*"
requests = "*"
# vnd.tailscale
tailscale = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pep517 = "*"
pytest = "*"

[requires]
python_version = "3.11"
